name: CI

on:
  push:
    branches:
      - main
    tags:
      - "*"
  pull_request:
  workflow_dispatch:

# Ensure only one workflow instance runs at a time. For branches other than the
# default branch, cancel the pending jobs in the group. For the default branch,
# queue them up. This avoids cancelling jobs that are in the middle of deploying
# to production.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != format('refs/heads/{0}', github.event.repository.default_branch) }}

jobs:
  test:
    name: "Test"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: true
      - run: "make test"
        name: Run test

  goreleaser_config:
    name: Test Goreleaser Config
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        name: "Checkout"
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v6
        name: "Set up Go"
        with:
          go-version-file: go.mod
      - uses: goreleaser/goreleaser-action@v6
        with:
          args: check

  lint:
    name: "Lint"
    if: ${{ github.event_name == 'pull_request' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - run: go mod download
      - name: Lint
        run: script/lint
      - name: Formatting
        run: CHECKONLY=1 script/format

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        name: "Checkout"
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v6
        name: "Set up Go"
        with:
          go-version-file: go.mod
      - uses: goreleaser/goreleaser-action@v6
        name: "Build Snapshot"
        with:
          version: latest
          args: build --clean --snapshot

  release:
   runs-on: ubuntu-latest
   steps:
     - uses: actions/checkout@v5
       name: "Checkout"
       with:
         fetch-depth: 0
     - uses: actions/setup-go@v6
       name: "Set up Go"
       with:
         go-version-file: go.mod
     - uses: goreleaser/goreleaser-action@v6
       name: "Release"
       if: startsWith(github.ref, 'refs/tags/')
       with:
         version: latest
         args: release --clean
       env:
         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
