name: CI

on:
  push:
    branches:
      - main
    tags:
      - '*'
  pull_request:
  workflow_dispatch:

# Ensure only one workflow instance runs at a time. For branches other than the
# default branch, cancel the pending jobs in the group. For the default branch,
# queue them up. This avoids cancelling jobs that are in the middle of deploying
# to production.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != format('refs/heads/{0}', github.event.repository.default_branch) }}

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest-8-cores
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-go@v4
      with:
        go-version-file: go.mod
    - run: script/build
    - uses: ncipollo/release-action@v1
      if: github.ref_type=='tag' && !contains(github.ref_name, '-')
      with:
        artifacts: "pget"
    - uses: ncipollo/release-action@v1
      if: github.ref_type=='tag' && contains(github.ref_name, '-')
      with:
        artifacts: "pget"
        prerelease: true
        
